
*, ::after, ::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	position: relative;
	height: 100%;
	margin: 0;

	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--sprk-bg);
	background-image:
		radial-gradient(var(--sprk-dim-color) 1px, transparent 0);
	background-position: 2px 2px;
	background-size: 20px 20px;
}

body, input, button, textarea {
	color: var(--sprk-fg);
}

main, header, footer {
	padding: .5em;
}

footer {
	width: 100%;
	text-align: right;
}

main {
	flex: 1;
	width: 100%;
	max-width: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

section {
	width: 100%;
	margin: .5em;
}

[role="button"], button {
	cursor: pointer;
}

input, textarea {
	&::placeholder {
		opacity: .5;
		color: var(--sprk-placeholder);
	}
}

// Validation
input, textarea {
	&[required] {
		background-size: 1em 1em;
		background-position: right top;
		background-repeat: no-repeat;
		&:placeholder-shown {
			background-image: radial-gradient(var(--sprk-error-color) 40%, transparent 50%);
		}
		&:not(:placeholder-shown) {
			&:valid {
				background-image: radial-gradient(var(--sprk-success-color) 40%, transparent 50%);
			}
			&:not(:valid) {
				background-image: radial-gradient(var(--sprk-error-color) 40%, transparent 50%);
			}
		}
	}
	&:not(:valid):not(:placeholder-shown) {
		border-color: var(--sprk-error-color);
	}
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--sprk-fg);
	&:not(.icon) {
		border-bottom: 1px dashed var(--sprk-fg);
	}
	// handle link wrap if overflows screen
	overflow-wrap: break-word;
	word-wrap: break-word;
}