::backdrop {
	background: rgba(0, 0, 0, .3);
	// animation doesn't work on firefox
	animation-duration: .3s;
	animation-fill-mode: forwards;
}

dialog {
	max-height: 80%;
	max-width: 80%;
	height: 100%;
	width: 750px;
	overflow: hidden;
	padding: 0;

	border: var(--sprk-border-size) solid var(--sprk-border-color);
	border-radius: .7em;
	background-color: var(--sprk-bg);

	.sp-modal-content {
		padding: 1em;
		height: 100%;
		overflow: auto;
	}

	animation-duration: .3s;
	animation-fill-mode: forwards;
	&[open] {
		animation-name: scroll-fade-in;
		&::backdrop {
			animation-name: fade-in;
		}
	}
	&.close {
		animation-name: scroll-fade-out;
		&::backdrop {
			animation-name: fade-out;
		}
	}
}

@keyframes scroll-fade-in {
	from { opacity: 0; transform: translateY(25%); }
	to { opacity: 1; transform: translateY(0); }
}
@keyframes scroll-fade-out {
	from { opacity: 1; transform: translateY(0); }
	to { opacity: 0; transform: translateY(25%); }
}
@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fade-out {
	from { opacity: 1; }
	to { opacity: 0; }
}