[data-theme='dark'] .rating {
	--star-default: #444444;
	--star-clear: #222222;
	--star-clear-hover: #696969;
}

.rating {
	--star-default: lightgrey;
	--star-clear: #ededed;
	--star-clear-hover: darkgrey;
	--star-active: goldenrod;
	--star-hover: goldenrod;
}

.rating-group {
	display: inline-flex;
	input {
		display: none;
	}
	label {
		padding: 0 2px;
		&.half {
			padding-right: 0;
			margin-right: -14px;
			z-index: 2;
		}
	}
	label.clear-rating {
		svg {
			fill: var(--star-default);
		}
		&:hover + input ~ label svg {
			fill: var(--star-clear) !important;
		}
	}
	svg {
		fill: var(--star-active);
	}
	input:checked ~ label svg {
		fill: var(--star-default);
	}
	&:hover label {
		&.clear-rating {
			svg {
				fill: var(--star-clear) !important;
			}
			&:hover svg {
				fill: var(--star-clear-hover) !important;
			}
		}
		svg {
			fill: var(--star-hover) !important;
		}
	}
	input:hover ~ label svg {
		fill: var(--star-default) !important;
	}
}