@use "constants";
@use "base";
@use "helpers";
@use "mixin";
@use "alert";
@use "ui";
@use "rating";
@use "modal";

svg {
	vertical-align: top;
	fill: var(--sprk-fg-color);
	&.spin { animation: spin 1.5s linear infinite }
}
@keyframes spin {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(1turn) }
}